doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/statics/main.css")
  body
    header
      h1 Welcome to RRRewear - Circular Fashion Swap
      nav
        ul
          li: a(href="/users") Users
          li: a(href="/listings") Listings
          li: a(href="/wishlist") Wishlist
          li: a(href="/messages") Messages
          li: a(href="/swap_requests") Swap Requests
    main
      p Swap and exchange clothes easily within your community.
      a(href="/listings", class="button green") Browse Listings
    footer
      p &copy; 2025 RRRewear - Sustainable Fashion
