doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/statics/main.css")
  body
    header
      h1 Listings - RRRewear
      nav
        ul
          li: a(href="/users") Users
          li: a(href="/listings") Listings
          li: a(href="/wishlist") Wishlist
          li: a(href="/messages") Messages
          li: a(href="/swap_requests") Swap Requests
    main
      h2 Available Listings
      each listing in listings
        div.listing
          h3= listing.title
          p= listing.description
          a(href=`/listings/${listing.id}`) View Details
    footer
      p &copy; 2025 RRRewear - Sustainable Fashion
