if user
  li.nav-item
    a.nav-link(href='/products') My Products
  li.nav-item
    a.nav-link(href='/swap-requests/available') Available for Swap
  li.nav-item
    a.nav-link(href='/swap-requests') My Swaps 