doctype html
html
  head
    title PG-SD2 - Circular Fashion Swap
    link(rel="stylesheet", href="/statics/main.css")
  body
    header
      h1 Welcome to PG-SD2 - Circular Fashion Swap
      nav
        ul
          li: a(href="/users") Users
          li: a(href="/listings") Listings
          li: a(href="/wishlist") Wishlist
          li: a(href="/messages") Messages
          li: a(href="/swap_requests") Swap Requests
    main
      p Swap and exchange clothes easily within your community.
      a(href="/listings", class="button") Browse Listings
