doctype html
html
  head
    title User Profile
    link(rel="stylesheet", href="/statics/main.css")
  body
    header
      h1 #{user.name}'s Profile
      a(href="/") Home
    main
      p Email: #{user.email}
      p Location: #{user.location}
      h2 Listings
      ul
        each listing in listings
          li
            a(href="/listings/" + listing.id) #{listing.item_name}
