extends layout

block content
    h1 #{title}
    table(border="1")
        tr
            th ID
            th Name
        each student in students
            tr  
                td #{student.id}
                td 
                    a(href='/student-single/' + student.id) #{student.name}
